OPENAI_API_KEY=c2stcHJvai1Fa3lwdDdBY0tpWndLSzJHWTNsdEg1SUpDQXBRZFpQMWpNbDlReWFTMDJ6NDNUVWR5UXc5YU5DZjRWeTBZaFpxNkZkeGxCMUxhTFQzQmxia0ZKTGtnY19tOS15VW9oQksxZnN2MXVESGV4VHdSelQ0UVd2ak5nX3VfOEh1ckRVVk1SS0JnbkxwaW1KUk9mUVVKY2FteWxmUHluTUE=